<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="hr" class="com.vamsi.Repository.HelloRepositoryImpl"></bean>
		
		<bean id="hs" class="com.vamsi.Service.HelloServiceImpl">
		  <constructor-arg>
		    <ref bean="hr"/>
		  </constructor-arg>
		</bean>
		
		<bean id="hc" class="com.vamsi.Controller.HelloController">
		<constructor-arg>
		   <ref bean="hs"/>
		</constructor-arg>
		</bean>
		
</beans>